body{
    padding: 20px 20%;
}

#header{
    text-align: center;
}

div{
    color:#784a47;
    font-family: Verdana;
}

h1{
    font-weight: bold;
    color:black;
}

h3{
    text-decoration: underline;
}

p{
    line-height: 20px;
    color:black;
}

img{
    width: 80%;
    height: 30%;
}